 .intro {
   display: flex;
   color: rgba($white, .7);

.intro-icon {
  margin-bottom: 15px;
}   

   svg {
     font-size: 40px;
     color: $accent;
   }
   /*
   h2 {
     //color: $white;
     color: aqua;

     &::after {
       content: '';
       width: 20%;
       height: 1px;
       background: rgba($white, .5);
       display: block;
       margin: 1em auto 0
     }
   }*/

   p {
    &::before {
      content: '';
      width: 20%;
      height: 1px;
      background: rgba($accent, .5);
      display: block;
      margin: 0 auto 0;
      margin-bottom: 1em;
      
    }
  }


   
  @supports (display: grid) {
      display: grid;
      //grid-template-columns: minmax(4em, 1fr) minmax(auto, 30em) minmax(4em, 1fr);
      grid-template-columns: 1fr 1fr 100px;
    }
  }

 .intro-middle {
   background: $dark-blue;
   padding: 2.5em 5vw;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .intro-left, .intro-right {
  text-align: center;
  padding: 2.5em 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

 } 

 