.welcome {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  h1 {
    font-size: 6rem;
    font-weight: 400;
    font-family: "Six Caps", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: $accent;
    line-height: 1;
    text-align: center;
    @include mq {
      font-size: 10vw;
    }
  }

  span {
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: center;
    top: 60%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  font-weight: 400;
  font-family: "Six Caps", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: $accent;
  line-height: 1;
  @include mq {
    font-size: 4vw;
  }
  }
}

