<<<<<<< HEAD
=======

>>>>>>> a3ef47c570c684703d38863f7f808184ab8a2efa
/*
.container {
    display: grid;    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 350px 50px;
    grid-gap: 5px;
}
.container {
    display: grid;
    grid-gap: 5px;    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 350px 50px;
    grid-template-areas:
        "h h h h h h h h h h h h"
        "m m c c c c c c c c c c"
        "f f f f f f f f f f f f";
}
.header {
    grid-area: h;
}
.menu {
    grid-area: m;
}
.content {
    grid-area: c;
}
.footer {
   grid-area: f;
}
*/
/*
    Ball Popmotion Styles
*/
body {
    --pink: #FF1C68;
    --green: #14D790;
    --blue: #198FE3;
    --black: #21282D;
    color: #222;
    font-family: 'PT Sans', sans-serif;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.pen {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
    flex: 1 1 100%;
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}
.box {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--pink);
}
/*
    Footer Popmotion Styles
*/
.penFooter {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
    flex: 1 1 100%;
    width: 100%;
    /*max-width: 600px;*/
    padding: 0 20px;
}
.boxFooter {
    /*width: 84.309rem;*/
    width: 100%;
    height: 100px;
    background: var(--pink);
}
